$bdc:  #000;
$bkc:  #9E8431;
$bkcw: #FFFFFF;
$sc:  #aaa;
$sc2: #eee;
$bkcm: lightblue;
$button_background_inactive: #E8C85D;

$erb_border: 0 -3px $button_background_inactive, 0 -6px $bdc, 3px 0 $button_background_inactive, 3px -3px $bdc, 6px 0 $bdc, 0 3px $button_background_inactive, 0 6px $bdc, -3px 0 $button_background_inactive, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;


.character_tile {
  font-size: 1.2em;
  padding: 5px 10px 20px 10px;
  box-shadow: 0 -3px $bkcw, 0 -6px $bdc, 3px 0 $bkcw, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkcw, 0 6px $bdc, -3px 0 $bkcw, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  width: 600px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

#class_form {
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-size: 1.2em;
  box-shadow: 0 -3px $bkcw, 0 -6px $bdc, 3px 0 $bkcw, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkcw, 0 6px $bdc, -3px 0 $bkcw, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  width: 600px;
}

select {
  font-size: .6em;
  height: auto;
}

option {
  font-family: 'VT323', monospace;
}

.stat_name {
  margin-bottom: 3%;
  display: inline-block;
}

.class_detail {
  float: none;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  box-shadow: 0 -3px $bkcw, 0 -6px $bdc, 3px 0 $bkcw, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkcw, 0 6px $bdc, -3px 0 $bkcw, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  width: 600px;
  height: 300px;
}

.submit_button {
  margin-top: 5%;
  box-shadow: 0 -3px $bkc, 0 -6px $bdc, 3px 0 $bkc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkc, 0 6px $bdc, -3px 0 $bkc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  display: inline-block;
}

.task_button {
  background-color: #E8C85D;
  margin-top: 5%;
  box-shadow: 0 -3px $bkc, 0 -6px $bdc, 3px 0 $bkc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkc, 0 6px $bdc, -3px 0 $bkc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  display: inline-block;
  float: right;
}

.task_button:hover {
  background-color: #9e8431;
}

.task_button:active {
  background-color: #9e8431;
  box-shadow: 0 -3px $bkc, 0 -6px $bdc, 3px 0 $bkc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkc, 0 6px $bdc, -3px 0 $bkc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 5px $sc, 6px 1px $sc;
  transform: translateY(4px);
}

.move_right {
  padding-right: 5px;
}

.move_left {
  padding-left: 5px;
}

.add_button {
  margin-left: 50%;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 -3px $bkc, 0 -6px $bdc, 3px 0 $bkc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkc, 0 6px $bdc, -3px 0 $bkc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
}

.task {
  margin-top: 2%;
  box-shadow: 0 -3px $sc2, 0 -6px $sc2, 3px 0 $sc2, 3px -3px $sc2, 6px 0 $sc2, 0 3px $sc2, 0 6px $sc2, -3px 0 $sc2, -3px  3px $sc2, -6px 0 $sc2, -3px -3px $sc2, 3px 3px $sc2;
  background-color: $sc2;
}

.character_name {
  margin-left: 10%;
  display: inline-block;
}

.detail_image {
  margin-bottom: 3%;
  width: 80px;
}

.character_image {
  margin-bottom: 1%;
}

.message_space {
  height: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 1px;
}

.message {
  box-shadow: 0 -3px $bkcm, 0 -6px $bdc, 3px 0 $bkcm, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkcm, 0 6px $bdc, -3px 0 $bkcm, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
  background-color: lightblue;
  font-size: .8em;
  animation-name: fade;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

button:focus {
  outline: none;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0px auto 40px auto;
 }

 h1 {
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   margin: 20px auto 40px auto;
  }

 body {
   font-size: 1.4em;
 }

label {
  font-size: 1.6em;
  color: black;
}

.class_button{
  color: black;

  text-align: center;
  background-color: white;
  box-shadow: 0 -3px $bkcw, 0 -6px $bdc, 3px 0 $bkcw, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkcw, 0 6px $bdc, -3px 0 $bkcw, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 9px $sc, 6px 6px $sc, 9px 3px $sc;
}

.class_button:hover{
  color: black;
  background-color: $sc2;
}

.class_button:focus{
  color: black;
  background-color: $sc;
  box-shadow: 0 -3px $sc, 0 -6px $bdc, 3px 0 $sc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $sc, 0 6px $bdc, -3px 0 $sc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc;
  transform: translateY(4px);
}

.submit_errors {
  padding: 15px;
}

.error_message {
  color: red;
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  font-size: .6em;
}

.landing {
  text-align: center;
}

.landing_pic {
  margin-top: 2%;
  margin-bottom: 6%;
}


.erb_button {
  background-color: #E8C85D;
  margin-top: 5%;
  box-shadow: $erb_border;
  display: inline-block;
}

.erb_button a {
  color: black;
  background-color: none;
}

.erb_button:hover {
  background-color: #9e8431;
}

.erb_button:active {
  background-color: #9e8431;
  box-shadow: 0 -3px $bkc, 0 -6px $bdc, 3px 0 $bkc, 3px -3px $bdc, 6px 0 $bdc, 0 3px $bkc, 0 6px $bdc, -3px 0 $bkc, -3px  3px $bdc, -6px 0 $bdc, -3px -3px $bdc, 3px 3px $bdc, 3px 5px $sc, 6px 1px $sc;
  transform: translateY(4px);
}
