$buttoncolor_border: #000000;
$buttoncolor_background_active: #9E8431;
$buttoncolor_background_inactive: #E8C85D;
$buttoncolor_hover: #E0B524;
$buttoncolor_shadow:  #aaa;

$backgroundcolor_white: #FFFFFF;
$taskcolor_shadow: #f4f4f4;
$taskcolor_background: #efefef;
$bkcm: lightblue;
$taskcolor_highlight: #e8e8e8;

$button_boxshadow_inactive:
  0 -3px $buttoncolor_background_inactive,
  0 -6px $buttoncolor_border,
  3px 0 $buttoncolor_background_inactive,
  3px -3px $buttoncolor_border,
  6px 0 $buttoncolor_border,
  0 3px $buttoncolor_background_inactive,
  0 6px $buttoncolor_border,
  -3px 0 $buttoncolor_background_inactive,
  -3px  3px $buttoncolor_border,
  -6px 0 $buttoncolor_border,
  -3px -3px $buttoncolor_border,
  3px 3px $buttoncolor_border,
  3px 9px $buttoncolor_shadow,
  6px 6px $buttoncolor_shadow,
  9px 3px $buttoncolor_shadow;

$button_boxshadow_active:
  0 -3px $buttoncolor_background_active,
  0 -6px $buttoncolor_border,
  3px 0 $buttoncolor_background_active,
  3px -3px $buttoncolor_border,
  6px 0 $buttoncolor_border,
  0 3px $buttoncolor_background_active,
  0 6px $buttoncolor_border,
  -3px 0 $buttoncolor_background_active,
  -3px  3px $buttoncolor_border,
  -6px 0 $buttoncolor_border,
  -3px -3px $buttoncolor_border,
  3px 3px $buttoncolor_border,
  3px 5px $buttoncolor_shadow,
  6px 1px $buttoncolor_shadow;

$tile_boxshadow:
  0 -3px $backgroundcolor_white,
  0 -6px $buttoncolor_border,
  3px 0 $backgroundcolor_white,
  3px -3px $buttoncolor_border,
  6px 0 $buttoncolor_border,
  0 3px $backgroundcolor_white,
  0 6px $buttoncolor_border,
  -3px 0 $backgroundcolor_white,
  -3px  3px $buttoncolor_border,
  -6px 0 $buttoncolor_border,
  -3px -3px $buttoncolor_border,
  3px 3px $buttoncolor_border,
  3px 9px $buttoncolor_shadow,
  6px 6px $buttoncolor_shadow,
  9px 3px $buttoncolor_shadow;

$task_boxshadow:
  0 -3px $taskcolor_background,
  0 -6px $taskcolor_highlight,
  3px 0 $taskcolor_background,
  3px -3px $taskcolor_highlight,
  6px 0 $taskcolor_shadow,
  0 3px $taskcolor_background,
  0 6px $taskcolor_shadow,
  -3px 0 $taskcolor_background,
  -3px  3px $taskcolor_highlight,
  -6px 0 $taskcolor_highlight,
  -3px -3px $taskcolor_highlight,
  3px 3px $taskcolor_shadow;

.character_tile {
  font-size: 1.2em;
  padding: 5px 10px 20px 10px;
  box-shadow: $tile_boxshadow;
  width: 600px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

#class_form {
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-size: 1.2em;
  box-shadow: $tile_boxshadow;
  width: 600px;
}

select {
  font-size: .6em;
  height: auto;
}

option {
  font-family: 'VT323', monospace;
}

.stat_name {
  margin-bottom: 3%;
  display: inline-block;
}

.class_detail {
  float: none;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  box-shadow: $tile_boxshadow;
  width: 600px;
  height: 300px;
}

.submit_button {
  margin-top: 5%;
  box-shadow: $button_boxshadow_inactive;
  display: inline-block;
}

.task_button {
  background-color: $buttoncolor_background_inactive;
  margin-top: 5%;
  box-shadow: $button_boxshadow_inactive;
  display: inline-block;
  float: right;
}

.task_button:hover {
  background-color: $buttoncolor_hover;
}

.task_button:active {
  background-color: $buttoncolor_background_active;
  box-shadow: $button_boxshadow_active;
  transform: translateY(4px);
}

.move_right {
  padding-right: 5px;
}

.move_left {
  padding-left: 5px;
}

.add_button {
  margin-left: 50%;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: $button_boxshadow_inactive;
}

.task {
  margin-top: 2%;
  box-shadow: $task_boxshadow;
  background-color: $taskcolor_background;
}

.character_name {
  margin-left: 10%;
  display: inline-block;
}

.detail_image {
  margin-bottom: 3%;
  width: 80px;
}

.character_image {
  margin-bottom: 1%;
}

.message_space {
  height: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 1px;
}

.message {
  box-shadow: 0 -3px $bkcm, 0 -6px $buttoncolor_border, 3px 0 $bkcm, 3px -3px $buttoncolor_border, 6px 0 $buttoncolor_border, 0 3px $bkcm, 0 6px $buttoncolor_border, -3px 0 $bkcm, -3px  3px $buttoncolor_border, -6px 0 $buttoncolor_border, -3px -3px $buttoncolor_border, 3px 3px $buttoncolor_border, 3px 9px $buttoncolor_shadow, 6px 6px $buttoncolor_shadow, 9px 3px $buttoncolor_shadow;
  background-color: lightblue;
  font-size: .8em;
  animation-name: fade;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

button:focus {
  outline: none;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0px auto 40px auto;
 }

 h1 {
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   margin: 20px auto 40px auto;
  }

 body {
   font-size: 1.4em;
 }

label {
  font-size: 1.6em;
  color: black;
}

.class_button{
  color: black;
  text-align: center;
  background-color: white;
  box-shadow: $tile_boxshadow;
}

.class_button:hover{
  color: black;
  background-color: $taskcolor_shadow;
}

.class_button:focus{
  color: black;
  background-color: $buttoncolor_shadow;
  box-shadow: 0 -3px $buttoncolor_shadow, 0 -6px $buttoncolor_border, 3px 0 $buttoncolor_shadow, 3px -3px $buttoncolor_border, 6px 0 $buttoncolor_border, 0 3px $buttoncolor_shadow, 0 6px $buttoncolor_border, -3px 0 $buttoncolor_shadow, -3px  3px $buttoncolor_border, -6px 0 $buttoncolor_border, -3px -3px $buttoncolor_border, 3px 3px $buttoncolor_border;
  transform: translateY(4px);
}

.submit_errors {
  padding: 15px;
}

.error_message {
  color: red;
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  font-size: .6em;
}

.landing {
  text-align: center;
}

.landing_pic {
  margin-top: 2%;
  margin-bottom: 6%;
}


.erb_button {
  background-color: $buttoncolor_background_inactive;
  margin-top: 5%;
  box-shadow: $button_boxshadow_inactive;
  display: inline-block;
}

.erb_button a {
  color: black;
  background-color: none;
}

.erb_button:hover {
  background-color: $buttoncolor_hover;
}

.erb_button:active {
  background-color:$buttoncolor_background_active;
  box-shadow: $button_boxshadow_active;
  transform: translateY(4px);
}
